.matrix {
    background: black;
    display: inline-block;
}

.led-container {
    display: inline-block;
}

.led {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin: 5px;
    display: inline-block;

    background: radial-gradient(ellipse at center, #d8d8d8 0%,#f7f7f7 100%); /* W3C */

}

.led.active {
    background: radial-gradient(ellipse at center, #fc8f8f 1%,#f40000 100%); /* W3C */
}